.btn--add:hover {
  background-color: var(--clr-gray);
}

.btn--add {
  /* color: #025192; */
  color: var(--clr-charcoal);
  display: flex;
  gap: var(--space-100);
  padding: var(--space-400) var(--space-50);
  width: 100%;
  margin-block-start: var(--space-400);
}

.btn--add:hover,
.btn--add:focus {
  transform: none;
  box-shadow: none;
  background-color: var(--clr-gray);
}
