.section-content--resume {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.resume__subheading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.resume__list {
  margin-block-start: var(--space-50);
  padding-inline-start: var(--space-400);
  list-style-type: disc;
}
