.resume__intro {
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  align-items: center;
  text-align: center;
}

.resume__img-container {
  background-color: var(--clr-white);
  border-radius: var(--radius-circle);
  width: var(--space-1600);
  height: var(--space-1600);
}

hr {
  width: var(--space-800);
}

.resume__name {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

.resume__job {
  font-size: var(--fs-600);
  text-transform: uppercase;
  
}
