.dialog {
  padding: var(--space-1200);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  text-align: center;
  border-radius: var(--radius-1);
  max-width: var(--width-modal);
}

.dialog__title {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.btn--yes {
  background-color: var(--clr-crimson-red);
}

.btn--no {
  background-color: var(--clr-sepia);
}

.btns--dialog {
  /* justify-content: end; */
  gap: var(--space-800);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}