.btns--nav {
  background-color: var(--clr-white);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  gap: var(--space-1600);
}

.btn--nav {
  background-color: var(--clr-blue);
}

.btn--next {
  margin-left: auto;
}
