.btns--nav {
  justify-content: space-between;
  background-color: var(--clr-white);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}

.btn--nav {
  background-color: var(--clr-blue);
}

.btn:disabled {
  background-color: #ccc;
  color: var(--clr-black);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
