.form--submit {
  border: 1px solid var(--clr-dark-gray);
  border-radius: var(--radius-1);
  margin-block-start: var(--space-400);
}

.form {
  padding: var(--space-400) 0;
  padding-inline-start: var(--space-400);
}

.form__control {
  margin-block-end: var(--space-400);
}

.form__label {
  display: block;
  font-weight: var(--fw-bold);
}

.form__hint {
  display: block;
  width: 80%;
  font-size: var(--fs-200);
}

.form__input {
  width: 80%;
  border: 1px solid var(--clr-black);

  border-radius: var(--radius-1);
  padding: var(--space-80);
  font-size: 100%;
  margin-block-start: var(--space-40);
  background-color: var(--clr-gray);
}

.form__input:user-valid {
  border: 2px solid var(--clr-green);
}

.form__input:user-invalid {
  border: 2px solid var(--clr-red);
}

.form__valid {
  display: flex;
  align-items: center;
  gap: var(--space-40);
}

.form__error {
  display: flex;
  align-items: center;
  gap: var(--space-40);
  font-weight: var(--fw-bold);
  color: var(--clr-red);
  margin-block-start: var(--space-40);
  width: 80%;
}

.btns--form {
  justify-content: end;
  gap: var(--space-400);
  margin-block-start: var(--space-800);
}

.btn {
  border-radius: var(--radius-1);
  padding: var(--space-80) var(--space-100);
  border: transparent;
  color: var(--clr-white);
  background-color: transparent;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-0.25em);
  box-shadow: var(--shadow-3);
}

.btn:focus-visible {
  outline: 2px solid var(--clr-blue);
  outline-offset: 2px;
}

.btn--cancel {
  background-color: var(--clr-bright-pink);
}

.btn--submit {
  background-color: var(--clr-persian-green);
}
