.section-content{
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}

.preview__subheading {
  font-weight: var(--fw-bold);
  /* margin-block-end: var(--space-40); */

}

.preview__list {
  list-style-type: disc;
  padding-inline-start: var(--space-250);
  margin-block: var(--space-40);
}