.section-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}

.preview__subheading {
  font-weight: var(--fw-bold);
}

/* Add bullets to the list */
.preview__list {
  margin-block: var(--space-40);
  padding-inline-start: var(--space-250);
  list-style-type: disc;
}
