.preview__intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-70);
  align-items: center;
  text-align: center;
  color: var(--clr-white);
}

.preview__img-container {
  background-color: var(--clr-white);
  border-radius: var(--radius-circle);
  width: var(--space-1200);
  height: var(--space-1200);
}

hr {
  width: var(--space-800);
}

.preview__name {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.preview__job {
  font-size: var(--fs-300);
  text-transform: uppercase;
}
