.section-sidebar {
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  padding-inline-start: var(--space-300);
}

.preview__heading {
  margin-block-end: var(--space-40);
  font-size: var(--fs-400);
}
