.btn--title {
  display: flex;
  gap: var(--space-100);
  width: 100%;
  padding: var(--space-500);
  color: var(--clr-black);
  font-size: var(--space-400);
  text-align: left;
}

/* Remove animation on hover and focus */
.btn--title:hover,
.btn--title:focus {
  transform: none;
  box-shadow: none;
}

.entry-title {
  flex: 6;
}

.collapse-icon {
  flex: 1;
}
