.main {
  max-width: var(--width-page);
  margin: 0 auto;
  padding: var(--space-400);
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.title {
  margin-block-end: var(--space-400);
  font-family: var(--ff-playfair-display);
}

.container {
  display: flex;
  gap: var(--space-800);
  flex: 1;
}
